/* 标题头部 */

heading {
    color: crimson;
    text-align: center;
    font-family: Courier, serif;
}


/* 主体  */

.mainBody {
    width: 1000px;
    /* text-align: center; */
    /* background-color: aliceblue; */
    margin: auto;
    font-style: normal;
    align-content: center;
    padding-bottom: 100px;
}